:root {
  --primary-text-color: #212121;
  --hero-footer-background: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --paragraph-text-color: #757575;
  --primery-bg-color: #ffffff;
  --icons-color: #afb1b8;
  --cards-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.section {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  text-decoration: none;
}
.link {
  color: var(--primary-text-color);
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* site-nav */
.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
}

.site-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  display: flex;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav li {
  margin-right: 50px;
}

.nav-item {
  position: relative;
}

.nav-item > .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .nav-item:last-child {
  margin-right: 0;
}
/*Logo*/
.logo {
  display: inline-block;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .logo-item {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts .contacts-items {
  margin-right: 50px;
  margin-left: auto;
  text-align: right;
}

.contacts-items:last-child {
  margin-right: 0;
}
.contacts-icon {
  margin: 0;
  padding: 0;
}

.add-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-list:hover,
.add-list:focus {
  color: var(--accent-color);
}

.add-list:hover .add-icons,
.add-list:focus .add-icons {
  fill: var(--accent-color);
}
.add-icons {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SECTIONS */
/* section-title*/
.section-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*section hero */
.section-hero {
  margin-top: 0px;
  padding: 200px 0;

  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
}
.main-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--primery-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
/* Hero main button*/
.hero-btn {
  display: inline-block;
  margin: 0 485px;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;

  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* MODAL */
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  justify-content: end;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primery-bg-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-btn {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primery-bg-color);
  border-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
}

.modal-btn {
  width: 11px;
  height: 11px;
}

/* section benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item {
  flex-basis: 270px;
}

.benefits-item:last-child {
  margin-right: 0;
}
.benefits-icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
}

.benefits-img {
  background-color: #f5f4fa;
  object-fit: none;
}
.benefits-img:nth-child(4) {
  margin-right: 0;
}

.benefits-subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  margin-top: 10px;

  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* section WORKS */
.works {
  padding-top: 0;
}
.work-list {
  display: flex;
}
.work-item {
  margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}

.work-thumb {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0%;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  text-align: center;
}

/* section team */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.members {
  width: 270px;
  margin-right: 30px;
  background-color: var(--primery-bg-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.members:last-child {
  margin-right: 0;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.position {
  margin-top: 10px;

  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.members-card {
  padding: 30px 5px 0;
}
.socials {
  margin-top: 16px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}
.socials-list {
  display: flex;
  gap: 10px;
}
.icon-card {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  align-items: center;
  justify-content: center;
}

.icon-link:hover,
.icon-link:active {
  background-color: var(--accent-color);
}

.icon-link:hover .icon {
  fill: var(--primery-bg-color);
}

/* Section CLIENTS */
.clients-list {
  display: flex;
}
.client {
  margin-right: 30px;
}
.client:last-child {
  margin-right: 0;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4%;
  color: var(--icons-color);
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  fill: currentcolor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients:hover,
.icon-clients:active {
  background-color: var(--primery-bg-color);
  fill: var(--accent-color);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-background);
}
.footer-navigation {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-light {
  color: var(--primery-bg-color);
}

address {
  font-style: normal;
}
.address-footer .add-footer {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-main {
  color: var(--primery-bg-color);
}

.add-footer:hover,
.add-footer:focus {
  color: var(--accent-color);
}

.footer-add:not(:first-child) {
  display: flex;
  margin-top: 9px;
}
.footer-socials {
  margin-left: 70px;
}
.footer-social-title {
  margin-bottom: 20px;
  color: var(--primery-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  gap: 10px;
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-bg-color);
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:active {
  background-color: var(--accent-color);
}

.footer-icon-link:hover .footer-icon {
  fill: var(--primery-bg-color);
}

/* page Portfolio */

/*портфоліо кнопки*/
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-nav {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;

  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}

.button.active {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}

.button-item {
  display: inline-block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}
.button-item:focus,
.button-item:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* CARDS COLLECTION */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 25ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.item:hover .overlay {
  transform: translateY(0%);
}

.overlay-box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primery-bg-color);
  text-decoration: none;
}

/* TEXT */

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-menu {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.portfolio-selection {
  margin-top: 4px;

  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.91;
  letter-spacing: 0.03em;
  text-decoration-style: none;
}
